In [9]:
number = int(input())

# check if number is greater than 0
if number %2== 0:
    print('Number is even')
else:
    print('number is not even')

 3

number is not even

In [1]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in range(len(a)):
    print(i, a[i])

0 Mary
1 had
2 a
3 little
4 lamb

In [11]:
a = ['Mary', 'had', 'a', 'little', 'lamb']
for i in a:
    print(i)

Mary
had
a
little
lamb

In [13]:
for n in range(2, 10):
    for x in range(2, n):
        if n % x == 0:
            print(n, 'equals', x, '*', n//x)
            break
    else:
        # loop fell through without finding a factor
        print(n, 'is a prime number')

2 is a prime number
3 is a prime number
4 equals 2 * 2
5 is a prime number
6 equals 2 * 3
7 is a prime number
8 equals 2 * 4
9 equals 3 * 3

In [19]:
n = int(input())
for i in range(2,n):
    if n%i==0:
        print(n, "is not prime")
        break;
else:
    print(n, "is prime")

 4

4 is not prime

In [25]:
status=int(input())
match status:
        case 400: print("1")
        case 404: print("2")
        case 418: print("3")
        case _:   print("nothing matched")

 2

nothing matched

In [29]:
def http_error(status):
    match status:
        case 400:
            return "Bad request"
        case 404:
            return "Not found"
        case 418:
            return "I'm a teapot"
        case _:
            return "Something's wrong with the internet"
http_error(400)

'Bad request'

In [35]:
list=[]
for i in range(0,7):
    a=int(input())
    list.append(a)
print(list)

 1
 2
 3
 55
 6
 77
 88

[1, 2, 3, 55, 6, 77, 88]

In [45]:
tupple=(1)
print(tupple)

1

In [55]:
Tuple1 = ('Geeks')
a=type(Tuple1)
print(a)
n = 5
print("\nTuple with a loop")
for i in range(int(n)):
    Tuple1 = (Tuple1,)
    print(Tuple1)

<class 'str'>

Tuple with a loop
('Geeks',)
(('Geeks',),)
((('Geeks',),),)
(((('Geeks',),),),)
((((('Geeks',),),),),)

In [59]:
Tuple1 = ('Geeks',)
n = 5
a=type(Tuple1)
print(a)
print("\nTuple with a loop")
for i in range(int(n)):
    Tuple1 = (Tuple1,)
    a=type(Tuple1)
    print(a)
    print(Tuple1)

<class 'tuple'>

Tuple with a loop
<class 'tuple'>
(('Geeks',),)
<class 'tuple'>
((('Geeks',),),)
<class 'tuple'>
(((('Geeks',),),),)
<class 'tuple'>
((((('Geeks',),),),),)
<class 'tuple'>
(((((('Geeks',),),),),),)

In [65]:
Tuple1 = ('Geeks')
n = 5
a=type(Tuple1)
print(a)
print("\nTuple with a loop")
for i in range(int(n)):
    Tuple1 = (Tuple1,)
    a=type(Tuple1)
    print(a)
    print(Tuple1)

<class 'str'>

Tuple with a loop
<class 'tuple'>
('Geeks',)
<class 'tuple'>
(('Geeks',),)
<class 'tuple'>
((('Geeks',),),)
<class 'tuple'>
(((('Geeks',),),),)
<class 'tuple'>
((((('Geeks',),),),),)

In [67]:
elements = ()
for i in range(1, 6):
    elements += (i,)  # Adding each element to the tuple

print(elements)  # Output: (1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

In [69]:
elements = ()
for i in range(1, 6):
    a=input()
    elements += (a,)  

print(elements)

 1
 a
 4
 5
 7

('1', 'a', '4', '5', '7')